:root {
    --blue: #4dc3c3;
    --gold: #edc9b3;
    --white: #ffffff;
    --darkblue: #2c3e50;
}

.hero-container {
    width: 80%;
    margin: auto;
    text-align: center;
    background: var(--blue);
    display: flex;
    flex-direction: grid;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 20px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.hero-main {
    width: 100%;
}

.hero-main h1 {
    font-size: 3rem;
    color: var(--darkblue);
}

.hero-main h3 {
    color: var(--white);
    font-weight: 400;
    text-align: justify;
    width: 80%;
    margin: auto;
    font-size: 1.1rem;
}

.hero-button button {
    width: 200px;
    height: 32px;
    margin: 26px;
    border-radius: 10px;
    background-color: var(--gold);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: ease .3s;
}

.hero-button button:hover {
    color: var(--darkblue);
    scale: 1.1;
}

.hero-button button a {
    text-decoration: none;
    color: var(--darkblue);
}

.hero-button button a:hover {
    color: var(--blue);
}

.carousel-wrapper {
    perspective: 1000px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 1s;
}

.carousel-card {
    position: absolute;
    width: 280px;
    height: 360px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    padding-top: 20px;
    backface-visibility: hidden;
    border-left: 6px solid var(--gold);
    border-right: 6px solid var(--gold);
    transition: ease-in-out .3s;
    transform-style: preserve-3d;
}

.item-0 {
    transform: rotateY(0deg) translateZ(240px);
}

.item-1 {
    transform: rotateY(72deg) translateZ(240px);
}

.item-2 {
    transform: rotateY(144deg) translateZ(240px);
}

.item-3 {
    transform: rotateY(216deg) translateZ(240px);
}

.item-4 {
    transform: rotateY(288deg) translateZ(240px);
}

.carousel-card:hover {
    scale: 1.1;
}

.carousel-image {
    width: 250px;
}

.controls {
    margin-top: 400px;
}

.controls button {
    margin: 0 10px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.controls button:hover {
    scale: 1.05;
    color: var(--white);
}

@media (max-width: 480px) {
    .hero-container {
        display: block;
        padding: 10px;
        width: 90%;
        margin-top: 20px;
    }

    .hero-main h1 {
        font-size: 2rem;
        color: var(--darkblue);
        margin-top: 20px;
        text-decoration: underline;
    }

    .hero-main h3 {
        width: 95%;
        font-size: 0.8rem;
    }

    .hero-button button {
        margin: 20px 10px;
        margin-bottom: 0;
        font-size: 0.9rem;
    }

    .carousel {
        padding-left: 33px;
    }

    .controls {
        margin-top: 100px;
    }

    .carousel-card {
        position: absolute;
        width: 235px;
        height: 280px;
    }

    .item-0 {
        transform: rotateY(0deg) translateZ(180px);
    }

    .item-1 {
        transform: rotateY(72deg) translateZ(180px);
    }

    .item-2 {
        transform: rotateY(144deg) translateZ(180px);
    }

    .item-3 {
        transform: rotateY(216deg) translateZ(180px);
    }

    .item-4 {
        transform: rotateY(288deg) translateZ(180px);
    }

    .carousel-image {
        width: 210px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .hero-container {
        display: block;
        padding: 10px;
    }

    .hero-main h1 {
        font-size: 2rem;
        color: var(--darkblue);
        margin-top: 20px;
    }

    .hero-main h3 {
        width: 95%;
        font-size: 0.8rem;
    }

    .hero-button button {
        margin: 20px 10px;
        margin-bottom: 0;
        font-size: 0.9rem;
    }

    .carousel {
        padding-left: 23px;
    }

    .controls {
        margin-top: 100px;
    }

    .carousel-card {
        position: absolute;
        width: 245px;
        height: 300px;
    }

    .item-0 {
        transform: rotateY(0deg) translateZ(180px);
    }

    .item-1 {
        transform: rotateY(72deg) translateZ(180px);
    }

    .item-2 {
        transform: rotateY(144deg) translateZ(180px);
    }

    .item-3 {
        transform: rotateY(216deg) translateZ(180px);
    }

    .item-4 {
        transform: rotateY(288deg) translateZ(180px);
    }

    .carousel-image {
        width: 220px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .hero-container {
        display: block;
        padding: 10px;
        margin-top: 10px;
    }

    .hero-main h1 {
        font-size: 2.4rem;
        color: var(--darkblue);
    }

    .hero-main h3 {
        font-size: 1rem;
    }

    .hero-button button {
        margin: 20px 10px;
        margin-bottom: 0;
    }

    .carousel {
        padding-left: 23px;
    }

    .controls {
        margin-top: 100px;
    }

    .carousel-card {
        position: absolute;
        width: 245px;
        height: 300px;
    }

    .item-0 {
        transform: rotateY(0deg) translateZ(180px);
    }

    .item-1 {
        transform: rotateY(72deg) translateZ(180px);
    }

    .item-2 {
        transform: rotateY(144deg) translateZ(180px);
    }

    .item-3 {
        transform: rotateY(216deg) translateZ(180px);
    }

    .item-4 {
        transform: rotateY(288deg) translateZ(180px);
    }

    .carousel-image {
        width: 220px;
    }
}

@media (min-width: 1000px) and (max-width: 1220px) {
    .hero-main h1 {
        font-size: 2.4rem;
        color: var(--darkblue);
    }

    .hero-main h3 {
        font-size: 1rem;
    }

    .hero-button button {
        margin: 10px;
    }

    .carousel-card {
        position: absolute;
        width: 245px;
        height: 300px;
    }

    .item-0 {
        transform: rotateY(0deg) translateZ(180px);
    }

    .item-1 {
        transform: rotateY(72deg) translateZ(180px);
    }

    .item-2 {
        transform: rotateY(144deg) translateZ(180px);
    }

    .item-3 {
        transform: rotateY(216deg) translateZ(180px);
    }

    .item-4 {
        transform: rotateY(288deg) translateZ(180px);
    }

    .carousel-image {
        width: 220px;
    }
}