:root {
    --blue: #4dc3c3;
    --gold: #edc9b3;
    --white: #ffffff;
    --darkblue: #2c3e50;
}

.layanan-container {
    width: 80%;
    margin: auto;
    text-align: center;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 20px;
    margin-bottom: 20px;
}

.back-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 200px;
    background: var(--gold);
    transition: background-color 0.3s ease;
    border: none;
    font-size: 24px;
    color: var(--white);
    cursor: pointer;
}

.back-btn:hover {
    background: #e6b08f;
}

.layanan-container h1 {
    font-size: 2rem;
    color: var(--darkblue);
    margin-bottom: 10px;
}

.layanan-container p {
    font-size: 1.1rem;
    color: var(--white);
    margin-bottom: 20px;
}

.layanan-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 60%;
    padding-bottom: 20px;
}

.layanan-card {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-left: 4px solid var(--gold);
    border-right: 4px solid var(--gold);
}

.layanan-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.layanan-card-detail {
    margin: auto;
}

.layanan-card h3 {
    font-size: 1.2rem;
    color: var(--blue);
    text-align: left;
    padding-left: 20px;
}

.layanan-card h5 {
    font-weight: 500;
    text-align: justify;
    padding-left: 20px;
}

.layanan-card img {
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(73, 52, 28, 0.5);
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: var(--gold);
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #e6b08f;
}

.zakat-content {
    width: 90%;
    max-width: 900px;
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    border-left: 6px solid var(--gold);
}