:root {
    --blue: #309b9b;
    --gold: #edc9b3;
    --white: #ffffff;
}

nav {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.container-navbar {
    height: 3.3rem;
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 2rem;
    border: 3px solid var(--gold);
    background-color: var(--blue);
    box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
    width: 70%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    margin: 0 auto;
}

.container-navbar a {
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.container-navbar .zaqo-title {
    padding: 0;
    margin: 0;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

.container-navbar .navbar-logo {
    height: 64px;
    width: 64px;
    background-color: var(--white);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.5);
}

.container-navbar .navbar-logo img {
    margin: auto;
    width: 45px;
    height: auto;
}

.container-navbar .a,
.container-navbar .b,
.container-navbar .c,
.container-navbar .d {
    text-decoration: none;
    color: #fff;
    padding: 0.1rem 1rem;
    transition: border-bottom 0.3s;
    transition: all 0.3s ease;
}

.container-navbar .active {
    border-bottom: 3px solid var(--gold);
    font-weight: 600;
}

.container-navbar .a:hover,
.container-navbar .b:hover,
.container-navbar .c:hover,
.container-navbar .d:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

/* Tombol Menu */
.navbar-menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10001;
}

.menu-button {
    border: none;
    background: var(--blue);
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    padding: 0 5px;
    padding-top: 5px;
}

.navbar-menu img {
    width: 35px;
    height: auto;
}

/* Sidebar Navbar */
.side-navbar {
    position: fixed;
    width: 35vw;
    height: 200vh;
    right: -100%;
    top: 0;
    background: rgba(48, 105, 116, 0.8);
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
    z-index: 10000;
}

/* Saat Navbar Dibuka */
.side-navbar.open {
    right: 0;
}

.navbar-nav {
    display: grid;
    flex-direction: column;
    padding: 1rem;
}

.navbar-nav a h2 {
    font-size: 2em;
    text-decoration: underline;
    color: var(--white);
}

.navbar-nav a {
    color: var(--white);
    font-size: 1em;
    text-decoration: none;
    margin: 5px 0;
}

.navbar-nav a img {
    width: 20vw;
    border-radius: 20%;
}

@media (max-width: 480px) {
    .navbar-menu {
        display: block;
        position: fixed;
    }

    .container-navbar {
        display: none;
    }

    .side-navbar {
        width: 50vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-menu {
        display: block;
        position: fixed;
    }

    .container-navbar {
        display: none;
    }

    .side-navbar {
        width: 40vw;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .navbar-menu {
        display: block;
        position: fixed;
    }

    .container-navbar {
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 1220px) {
    .container-navbar {
        padding: 0 4rem;
    }

    .container-navbar .zaqo-title {
        display: none;
    }
}